body {
  font-family: "Roboto", "sans-serif";
  color: #212121;
}
:root {
  --main-color: #2196f3;
}
:root {
  --background-color: rgba(47, 48, 58, 1);
}
:root {
  --second-font-color: rgba(117, 117, 117, 1);
}

.line hr {
  border: 1px solid #ececec;
  margin-top: 30px;
}
.nav-style a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
  text-decoration: none;
}
.nav-block nav {
  display: inline;
}
.nav-block ul {
  display: inline;
}
.nav-block li {
  display: inline;
}
.nav-style {
  margin-top: 24px;
}
.hover:hover {
  color: var(--main-color);
}
.logo a {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-left: 13.4%;
  padding-right: 6%;
  color: var(--main-color);
}
.font-color {
  color: var(--second-font-color);
}
.padding-portfolio {
  padding-left: 3.3%;
  padding-right: 4.3%;
}
.padding-mail {
  padding-left: 21%;
  padding-right: 3.1%;
}
.head-section-style {
  background-color: var(--background-color);
  height: 600px;
  text-align: center;
}
.head-section-style h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 200px;
}
.info-section-style h3 {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.info-section-style p {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}
.button-style {
  color: white;
  width: 200px;
  height: 50px;
  background-color: var(--main-color);
  text-align: center;
  font-size: 16px;
  border: var(--main-color);
  border-radius: 4px;
}
.grid-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 215px;
  margin-right: 215px;
  column-gap: 30px;
  justify-content: center;
  margin-top: 94px;
}
.about-us-style h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  padding-top: 94px;
}
.grid-box-about-us {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  gap: 30px;
  justify-content: center;
}
.section-background {
  height: 648px;
  background: #f5f4fa;
  margin-top: 94px;
}
.grid-team {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 30px;
  justify-content: center;
}
.white-box {
  background-color: #fff;
  width: 100%;
  height: 368px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 0px;
}
.img-size figure img {
  width: 100%;
  height: 260px;
}
.font-style-1 {
  padding-top: 30px;
  text-align: center;
}
.font-style-1 div {
  color: var(--second-font-color);
  padding-top: 10px;
}
.footer-background {
  background-color: var(--background-color);
  height: 252px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-top: 60px;
}
.footer-style a {
  text-decoration: none;
}
.footer-style li {
  text-decoration: none;
  list-style-type: none;
  font-style: normal;
}
.address-style a {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.address-padding {
  padding-left: 13.4%;
}
.grid-buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
  justify-content: center;
  display: flex;
  margin-top: 100px;
  margin-bottom: 50px;
}
.buttons-style button {
  height: 38px;
  background: #f5f4fa;
  border-radius: 4px;
  border-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  cursor: pointer;
  font-family: "Roboto";
}
.button-hover:hover {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.buttons-style {
  list-style-type: none;
}
.nav {
  display: inline;
}
.nav li {
  display: inline;
}
.all-button {
  width: 73px;
}
.web-sites-button {
  width: 128px;
}
.apps-button {
  width: 145px;
}
.design-button {
  width: 103px;
}
.marketing-button {
  width: 130px;
}
.grid-pictures {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  list-style-type: none;
  justify-content: center;
  column-gap: 30px;
}
.img-border {
  box-sizing: border-box;
  width: 370px;
  height: 404px;
  background: #ffffff;
  border: 1px solid #ececec;
}
.img-margin {
  margin-bottom: 94px;
}
.figcaption-padding {
  padding-left: 24px;
  padding-top: 20px;
}
.figcaption-padding div {
  margin-top: 13px;
  color: var(--second-font-color);
}
