body {
  font-family: "Roboto";
  font-style: normal;
}
.nav-style a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  list-style-type: none;
}
.log {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.hover:hover {
  color: #2196f3;
}
a l {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.nav-block nav {
  display: inline;
}
.nav-block ul {
  display: inline;
}
.nav-block li {
  display: inline;
}
.section-1 {
  background-color: rgba(47, 48, 58, 1);
  height: 600px;
  text-align: center;
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 200px;
}
.bt {
  color: white;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  text-align: center;
  font-family: "Roboto";
  font-style: Bold;
  font-size: 16px;
  border: #2196f3;
  filter: drop-shadow(40px 0px 40px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.grid-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 215px;
  margin-right: 215px;
  column-gap: 30px;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.grid-box-v2 {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  gap: 30px;
  justify-content: center;
}

}
.section-2 {
  height: 648px;
  background: #f5f4fa;
}
.grid-team {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 30px;
  justify-content: center;
}

.white-box {
  background-color: #fff;
  width: 100%;
  height: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 0px;
}
figure > img {
  width: 100%;
  height: 260px;
}
