.u-list li,
a {
  list-style-type: none;
  font-family: "Roboto";
  font-style: Medium;
  font-size: 14px;
  color: #212121;
  text-decoration: none;
  list-style-type: none;
}
.logo {
  color: #2196f3;
  font-style: bold;
  font-size: 26px;
  text-decoration: none;
  font-family: "Raleway";
  padding: 0px 97px 25px 215px;
  margin-top: 24px;
}
.link-hover:hover {
  color: #2196f3;
}

.section-1 {
  background-color: rgba(47, 48, 58, 1);
  height: 600px;
  width: 1600px;
  text-align: center;
}

header {
  display: inline-block;
  margin-top: 20px;
}

.button-1 {
  color: white;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  text-align: center;
  font-family: "Roboto";
  font-style: Bold;
  font-size: 16px;
  border: #2196f3;
  filter: drop-shadow(40px 0px 40px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
h1 {
  color: white;
  font-family: "Roboto";
  font-size: 44px;
  font-style: Black;
  padding-top: 200px;
}
.test {
  display: inline;
}

.port-display {
  padding-left: 46px;
  padding-right: 64px;
}
.email-display {
  padding-left: 340px;
  padding-right: 50px;
}
.nav-inline nav,
ul,
li {
  display: inline;
}
.box-one {
  width: 270px;
  height: 70.54px;
}
.dis li {
  display: inline-block;
}
.font-head li,
h3 {
  font-family: "Roboto";
  font-style: Bold;
  font-size: 14px;
  color: rgba(33, 33, 33, 1);
  text-transform: uppercase;
}

.padding-test ul,
li {
  padding-top: 90px;
}
.font-par h3,
p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(117, 117, 117, 1);
}
