.about-us {
  display: none;
  visibility: hidden;
  padding-bottom: 94px;
  margin: auto;

  & h2 {
    font-weight: $fontWeight-big;
    font-family: $fontFamily-roboto;
    font-size: 2.25rem;
    line-height: 2.62rem;
    padding-bottom: 50px;
    text-align: center;
    letter-spacing: 0.03em;
    margin: auto;
  }
  &__display {
    display: flex;
    gap: 30px;
    position: relative;
    list-style: none;
  }
  &__overlay {
    position: relative;
    background-color: $color-background-v2;
    bottom: 73px;
    overflow: hidden;
    color: $color-neutral;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
    text-transform: uppercase;
    font-weight: $fontWeight-big;
    font-family: $fontFamily-roboto;
    font-size: 0.875rem;
    line-height: 1rem;
  }
}
@media (min-width: 768px) {
  .about-us {
    visibility: visible;
  }
  .about-us__display {
    justify-content: center;
  }
}
